:root {
  --blue-300: #bedae2;
  --blue-500: #6ba8c4;
  --rose-300: #da878c;
  --red-300: #e54;
  --black: #222;
}

body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--blue-300);
  border: 1.5px solid var(--black);
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.technologies h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: var(--red-300);
}

.technologies h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: var(--blue-300);
}

.technologies p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.technologies-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.technologies-lista::-webkit-scrollbar {
  width: 18px;
}

.technologies-lista::-webkit-scrollbar-thumb {
  background: var(--blue-300);
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.technologies-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.technologies-descricao {
  grid-column: 3;
}

.technologies-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--red-300);
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--blue-300);
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 1.5rem;
  margin-left: 30px;
}

/* .mapa {
  grid-column: 2;
} */

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  margin-right: 10px;
  background: var(--blue-300);
}

.copyright {
  grid-column: 1 / 3;
  margin-bottom: 2rem;
  background: var(--blue-300);
  border: 1.5px solid var(--black);
  margin-left: 0.9px;
  /* text-transform: uppercase; */
}

.copyright p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copyright {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .technologies-lista {
    grid-column: 1;
  }
  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  .copyright {
    margin-bottom: 0px;
  }
}
