:root {
  --blue-300: #bedae2;
  --blue-500: #6ba8c4;
  --rose-300: #da878c;
  --red-300: #e54;
  --black-300: #272829;
  --black-500: #222;
  --background: #faf6ed;
  --background-menu: rgba(250, 246, 237, 0.9);
}

body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: var(--background);
  color: var(--black-500);
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

#hamburger-nav {
  display: none;
}

.hamburger {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--black-300);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-menu);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  color: var(--black-500);
  font-family: Helvetica, Arial;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  margin-top: 10px;
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--blue-300);
  border: 1.5px solid var(--black-500);
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: var(--black-500);
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.technologies h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: var(--red-300);
}

.technologies h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: var(--blue-300);
}

.technologies p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.technologies-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.technologies-lista li {
  cursor: pointer;
}

.technologies-lista li img {
  margin-bottom: 60px;
}

.technologies-lista::-webkit-scrollbar {
  width: 18px;
}

.technologies-lista::-webkit-scrollbar-thumb {
  background: var(--blue-300);
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.technologies-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.technologies-descricao {
  grid-column: 3;
}

.technologies-descricao section {
  margin-bottom: 3rem;
}

.technologies-descricao section ul li {
  font-family: Helvetica, Arial;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--red-300);
  cursor: pointer;
  max-width: fit-content;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--blue-300);
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 30px;
}

.faq-lista p {
  line-height: 1.5;
}

.faq-lista span {
  font-weight: bold;
  color: var(--black-300);
}

.dados {
  grid-column: 2;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados i {
  font-size: 23px;
  margin-right: 10px;
}

.dados li a {
  text-decoration: none;
  color: var(--black-500);
}

/* .dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  margin-right: 10px;
  background: var(--blue-300);
} */

.copyright {
  grid-column: 1 / 3;
  margin-bottom: 2rem;
  background: var(--blue-300);
  border: 1.5px solid var(--black-500);
  margin-left: 0.9px;
  text-wrap: nowrap;

  /* text-transform: uppercase; */
}

.copyright p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  /* CABECALHO */
  .menu {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  /* .menu, */
  .grid-section,
  .copyright {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .technologies-lista {
    height: 295px;
    grid-column: 1;
  }

  .technologies-lista img {
    width: 80%;
  }

  .technologies-lista li img {
    margin-bottom: 15px;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  /* .menu {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  } */
  .copyright {
    margin-bottom: 0px;
  }
}

.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*  */
.js .js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "⮟";
  margin-left: 10px;
}

.js-accordion dt.ativo::after {
  content: "⮝";
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}
/*  */

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
